* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 3% 8%;
}

button {
  cursor: pointer;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.grow-list {
  margin-left: -350px;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-item {
  list-style-type: none;
  font-size: 16px;
  margin: 0 30px;
  font-weight: 200;
  cursor: pointer;
}

.list-item:first-child {
  font-weight: 400;
  font-size: 16px;
}

.nav-button {
  background-color: #5737d6;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  border-radius: 10px;
  border: none;
}

.menu-icon {
  height: 32px;
  display: none;
  cursor: pointer;
}

.banner-container {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

.banner-container img {
  position: fixed;
  right: 0;
  height: 580px;
}

.banner-container .heading-text {
  color: #120e43;
  width: 60%;
  font-size: 60px;
}

.banner-container .heading-text span {
  color: #5737d6;
}

.banner-container .description {
  width: 50%;
  font-weight: 200;
  font-size: 14px;
  padding: 20px 0;
}

.btn {
  margin-top: 40px;
  padding: 20px 30px;
}

@media screen and (max-width: 1199px) {
  .container {
    padding: 3% 6%;
  }
  .grow-list {
    margin-left: 0;
  }
  .list-item {
    margin: 0 20px;
  }
  .banner-container img {
    height: 440px;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    padding: 2% 4%;
  }
  img[alt="brand-logo"] {
    height: 34px;
  }
  .list-item {
    font-size: 14px;
    margin: 0 15px;
  }
  .nav-button {
    padding: 15px;
    font-size: 14px;
    border-radius: 10px;
  }
  .banner-container .heading-text {
    margin-top: 40px;
    font-size: 44px;
  }
  .banner-container img {
    height: 360px;
  }
  .banner-container .description {
    width: 40%;
  }
}

@media only screen and (max-width: 767px) {
  .list {
    display: none;
  }
  .menu-icon {
    display: inline-block;
  }
  .banner-container img {
    top: 50%;
  }
  .banner-container .heading-text {
    width: 100%;
    font-size: 48px;
  }
  .banner-container .description {
    width: 60%;
  }
  .nav-button:first-child {
    margin-left: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .nav-button:first-child {
    display: none;
  }
  .banner-container .heading-text {
    font-size: 40px;
  }
  .banner-container {
    padding-top: 20px;
  }
  .banner-container .description {
    width: 100%;
  }
  .banner-container img {
    height: 280px;
    top: 60%;
  }
}
